main {
  position: relative;
  height: 100vh;
}

.hehe {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("src/assets/cyberpunk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.locationIcon {
  width: 100px;
  height: 100px;

  background-repeat: no-repeat;
  background-size: cover;
}
.blurred-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  scale: 1.1;
  transition: 1.5s;
}

.hero-shadow {
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 30px;
  left: 50%;
  z-index: -1;
  width: 100%;
  padding: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
  transform: translateX(-50%);
}

.hero-img {
  position: relative;
  margin: 0 auto;
  top: 100px;
  height: 600px;
  max-width: 500px;
  z-index: 0;
  border-radius: 30px;
  padding: 25px;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.search-box {
  z-index: 5;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;
  font-weight: 600;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  transition: 0.4s;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5);
}

.location-box .location {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.location-box .date {
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  display: inline-block;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.weather-box {
  color: white;
  text-transform: capitalize;
}
.weather {
  font-size: 50px;
  font-weight: 900;
}
.feels-like {
  font-size: 50px;
  padding-top: 15px;
  font-size: 30px;
}
